block variables
doctype html
html
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
        meta(name="theme-color", content="#000000")
        
        link(rel="stylesheet" type="text/css" href="/style/bootstrap.min.css")
        link(rel="stylesheet" type="text/css" href="/style/style.css")
        link(rel="stylesheet" type="text/css" href="https://www.jeasyui.com/easyui/themes/default/easyui.css")
        link(rel="stylesheet" type="text/css" href="https://www.jeasyui.com/easyui/themes/icon.css")
        link(rel="stylesheet" type="text/css" href="https://www.jeasyui.com/easyui/themes/color.css")
        link(rel="stylesheet" type="text/css" href="https://www.jeasyui.com/easyui/demo/demo.css")

        script(type="text/javascript" src='/scripts/bootstrap.bundle.min.js')
        script(type="text/javascript" src='/scripts/jquery.min.js')
        script(type="text/javascript" src='/scripts/custom.js')
        script(type="text/javascript" src="https://www.jeasyui.com/easyui/jquery.min.js")
        script(type="text/javascript" src="https://www.jeasyui.com/easyui/jquery.easyui.min.js")

        title #{title} | WORLD POPULATION
    body.pageBody
        div#root
            div.View
                div.head
                    img(src='images/logo.png')
                    h1.Banner WORLD POPULATION
                div.topnav
                    a(href="Home", class=HomeClass) Home
                    a(href="World", class=WorldClass) World
                    a(href="Region", class=RegionClass) Region
                    a(href="Continents", class=ContinentsClass) Continents
                    a(href="Countries", class=CountriesClass) Countries
                    a(href="Cities", class=CitiesClass) Cities
                    a(href="AboutUs", class=AboutUsClass) About Us

                    a(href="#", class=LoginClass, style="float: right; display:none", onclick="LogOut()")#LogoutBtn Logout
                    a(href="#", class=LoginClass, style="float: right; display:none", onclick="ShowLogInModal()")#LoginBtn Login
                div(style='height:145px;')
                block body-content
                div#login-dlg(class="easyui-dialog" style="width:500px" data-options="closed:true,modal:true,border:'thin',buttons:'#login-dlg-buttons'")
                    form#login-fm(method="get" novalidate style="margin:0;padding:20px 50px")
                        h3 Log In
                        div(style="margin-bottom:10px")
                            input(name="UserId" class="easyui-textbox" required="true" label="User Id:" style="width:100%")
                        div(style="margin-bottom:10px")
                            input(name="Password" class="easyui-textbox" required="true" label="Password:" style="width:100%", type="Password")
                div#login-dlg-buttons
                    a(href="javascript:void(0)" class="easyui-linkbutton c6" iconCls="icon-ok" onclick="LogIn()" style="width:90px") LogIn
                    a(href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#login-dlg').dialog('close')" style="width:90px") Cancel